{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Publié ?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.published }}</td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
